@media only screen and (max-width: 600px){ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.f1{
    width: 100%;
}
.content{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.aside-right{
    background-color: yellow;
    width: 50%;
    transform: translate( 100%,0%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.aside-left{
    background-color: green;
    width: 50%;
    transform: translate( 0%, -100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
}
@media only screen and ( min-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .header{
        background-color: black;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .f1{
        width: 100%;
    }
    .content{
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
    .aside-right{
        background-color: yellow;
        width: 25%;
        transform: translate( 300%,-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
    .aside-left{
        background-color: green;
        width: 25%;
        transform: translate( 0%, -200%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
}